@font-face {
    font-family: alice;
    src: url(font/alice.ttf);
}

* {
    font-family: alice;
}

h1 {
    text-align: center;
    font-size: 64px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

#cabinet {
    display: none;
}

#sectlinks {
    text-align: center;
    font-size: 24px;
}

.sectbody {
    font-size: 24px;
    width: 50%;
    border-style: dashed;
    border: 3px solid black;
    border-color: black;
    word-wrap: break-word;
}

/*
#canv {
    height: 75%;
    width: 100%;
}
*/